<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <table id="m_-3567343882112268158backgroundTable"
        style="border-spacing:0;border-collapse:collapse;font-family:proxima-nova,'helvetica neue',helvetica,arial,geneva,sans-serif;width:100%!important;height:100%!important;color:#4c4c4c;font-size:15px;line-height:150%;background:#ffffff;margin:0;padding:0;border:0">
        <tbody>
            <tr style="vertical-align:top;padding:0">
                <td align="center" valign="top" style="vertical-align:top;padding:0">
                    <table id="m_-3567343882112268158templateContainer"
                        style="border-spacing:0;border-collapse:collapse;font-family:proxima-nova,'helvetica neue',helvetica,arial,geneva,sans-serif;width:600px;color:#4c4c4c;font-size:15px;line-height:150%;background:#ffffff;margin:40px 0;padding:0;border:0">
                        <tbody>
                            <tr style="vertical-align:top;padding:0">
                                <td align="center" valign="top" style="vertical-align:top;padding:0 40px">
                                    <table id="m_-3567343882112268158templateContent"
                                        style="border-spacing:0;border-collapse:collapse;font-family:proxima-nova,'helvetica neue',helvetica,arial,geneva,sans-serif;width:100%;background:#ffffff;margin:0;padding:0;border:0">
                                        <tbody>
                                            <tr style="vertical-align:top;padding:0">
                                                <td style="vertical-align:top;text-align:left;padding:0" align="left"
                                                    valign="top">
                                                    <h1 id="m_-3567343882112268158logo"
                                                        style="color:#1ca0a4;display:block;font-family:hybrea,proxima-nova,'helvetica neue',helvetica,arial,geneva,sans-serif;font-size:32px;font-weight:200;text-align:left;margin:0 0 40px"
                                                        align="left"><img
                                                            src="cid:bihama"
                                                            alt="bihama" width="240" height="84"
                                                            style="outline:none;text-decoration:none;border:0"
                                                            class="CToWUd"></h1>

                                                    <p style="margin:20px 0">Xin chào {{ user.username }}.</p>
                                                    <p style="margin:20px 0">Bihama cảm ơn bạn đã đăng kí trở thành cộng
                                                        tác viên của hệ sinh thái công nghệ số Bihama.</p>
                                                    <p style="margin:20px 0">Vui lòng click vào link bên dưới để xác
                                                        thực tài khoản của bạn!</p>


                                                    <p style="margin:20px 0"><a style="color: #1ca0a4;"
                                                            href="{{ domain }}{% url 'activate' uidb64=uid token=token %}"
                                                            target="_blank"
                                                            data-saferedirecturl="https://www.google.com/url?q={{ domain }}{% url 'activate' uidb64=uid token=token %}"><span
                                                                class="il">{{ domain }}{% url 'activate' uidb64=uid token=token %}</a>
                                                    </p>



                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr style="vertical-align:top;padding:0">
                                <td align="center" valign="top" style="vertical-align:top;padding:0 40px">
                                    <table id="m_-3567343882112268158footerContent"
                                        style="border-spacing:0;border-collapse:collapse;font-family:proxima-nova,'helvetica neue',helvetica,arial,geneva,sans-serif;width:100%;border-top-style:solid;border-top-color:#ebeaef;color:#999999;font-size:12px;background:#ffffff;margin:0;padding:0;border-width:1px 0 0">
                                        <tbody>
                                            <tr style="vertical-align:top;padding:0">
                                                <td valign="top" style="vertical-align:top;text-align:left;padding:0"
                                                    align="left">
                                                    <p style="margin:20px 0">
                                                        Mọi thắc mắc bạn vui lòng liên hệ<br>
                                                        <span>Hotline: <a href="tel:096 434 8800" style="color:#1ca0a4"
                                                                target="_blank"
                                                                data-saferedirecturl="https://www.google.com/url?q=https://www.facebook.com/SanBihama;usg=AFQjCNE3WmZ_7ZXBvkNeOwHMu110nup9Lg"><span
                                                                    class="il">096 434 8800</span></a></span> <br>
                                                        <span>Fanpage:</span>
                                                        <a href="https://www.facebook.com/SanBihama"
                                                            style="color:#1ca0a4" target="_blank"
                                                            data-saferedirecturl="https://www.google.com/url?q=https://www.facebook.com/SanBihama;usg=AFQjCNE3WmZ_7ZXBvkNeOwHMu110nup9Lg">https://<span
                                                                class="il">https://www.facebook.com/SanBihama</span></a>
                                                        <br>
                                                        <span>Gmail: <a href="mailto:bihama247@gmail.com"
                                                                style="color:#1ca0a4" target="_blank"
                                                                data-saferedirecturl="https://www.google.com/url?q=https://www.facebook.com/SanBihama;usg=AFQjCNE3WmZ_7ZXBvkNeOwHMu110nup9Lg"><span
                                                                    class="il">bihama247@gmail.com</span></a></span>
                                                        <br>
                                                        <span>Bihama xin chân thành cảm ơn thành </span>
                                                    </p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <script src="script.js"></script>
</body>

</html>