{% load static %}
<div id="loading_ajax" class="preload-container text-center"
    style="width: 100%;height: 100%;background: #000000ad;position: fixed;top: 0;bottom: 0;right: 0;left: 0;z-index: 99999999999;padding-right: 17px;overflow-x: hidden;overflow-y: auto; display: flex; justify-content: center; align-items: center; ">
    <div class="robotload" style="width: 25%;">
        <img style="width: 100%; " height="auto" src="{% static 'core/images/loadmau2.gif' %}" alt="" />
    </div>
</div>