{% load static %}
{% block css_blocl %}
<style>
    @media screen and(max-width: 425px) {
        .robotload {
            width: 60% !important;
        }
    }
</style>
{% endblock %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-175580547-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-175580547-1');
</script>
<!-- Google Tag Manager -->
<script>(function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-WNZNM56');</script>
<!-- End Google Tag Manager -->
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WNZNM56" height="0" width="0"
        style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div id="preload" class="preload-container text-center"
    style="width: 100%;height: 100%;background: white;position: fixed;top: 0;bottom: 0;right: 0;left: 0;z-index: 99999999999;display: block;padding-right: 17px;overflow-x: hidden;overflow-y: auto; display: flex; justify-content: center; align-items: center; ">
    <div class="robotload" style="width: 25%;">
        <img style="width: 100%; " height="auto" src="{% static 'core/images/test.gif' %}" alt="" />
    </div>
</div>